build/
moc_predefs.h

.qmake.stash
.qmake.stash
Billing-System
Billing-System.pro.user
Makefile
adminwindow.o
db/
logindialog.o
main.o
mainwindow.o
moc_adminwindow.cpp
moc_adminwindow.o
moc_logindialog.cpp
moc_logindialog.o
moc_mainwindow.cpp
moc_mainwindow.o	
products.db
qrc_resources.cpp
qrc_resources.o
resources/resources.qrc
src/adminwindow/adminwindow.o
src/mainwindow/mainwindow.o
ui_adminwindow.h
ui_logindialog.h
ui_mainwindow.h
moc_mainwindow.o